---
title: About
big_header:
  bh_title: About the center
  bh_background: bg-museum
  bh_caption: "By <a class='white link underline dim-l' href='https://unsplash.com/@sakulich' target='_blank'>Sergei Akulich</a>"
description: Learn more about the PCfN mission and our advisory board.
sections:
- About the center
---
<main class="relative bg-pattern-circuit f4-m f3-l lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">

  <div class="relative mw-64rem center">

    <section id="{{ person.sections[0] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen mb4 mb5-m mb6-l">

        <div class="pb0 pb3-m pb4-l pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen lh-title mb1 mb2-ns">
            Our mission
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          <div class="flex flex-column flex-row-l items-center mb3 mb4-ns">
            <div class="flex-none pa1 ba br1 br-100-ns b--moon-gray mb2 mb3-m mb0-l mr5-l">
              <picture class="db">
                <source
                  type="image/webp"
                  srcset="/assets/img/jpg/mw320/mission/holger-link-krmjTrp_OpI-unsplash--320w.webp 320w,
                          /assets/img/jpg/mw320/mission/holger-link-krmjTrp_OpI-unsplash--640w.webp 640w"
                  sizes="320px">
                <img
                  class="db br1 br-100-ns"
                  src="/assets/img/jpg/mw320/mission/holger-link-krmjTrp_OpI-unsplash--320w.jpg"
                  srcset="/assets/img/jpg/mw320/mission/holger-link-krmjTrp_OpI-unsplash--320w.jpg 320w,
                          /assets/img/jpg/mw320/mission/holger-link-krmjTrp_OpI-unsplash--640w.jpg 640w"
                  sizes="320px"
                  alt="Image by Holger Link">
              </picture>
            </div>
            <div class="flex flex-column">
              <p class="self-center-m self-start-l order-last-l f6 f5-l light-silver mw-320px-m mb3 mb0-l">
                Image by <a class="link blue underline dim-l" href="https://unsplash.com/@photoholgic" target="_blank">Holger Link</a>
              </p>
              <ul class="list lh-solid tc-m pl0 mb4-l">
                <li class="i mb2 mb3-l">Advance research in basic and applied neuroaesthetics</li>
                <li class="i mb2 mb3-l">Educate the next generation of scientists</li>
                <li class="i mb2 mb3-l">Promote allied interdisciplinary interests</li>
                <li class="i mb2 mb3-l">Welcome investigators and creative experts</li>
                <li class="i">Disseminate our science and engage with the arts community</li>
              </ul>
            </div>
          </div>

          <p class="mb2 mb3-ns">
            The PCfN launched in July 2018 with support from the <a class="link blue underline dim-l" href="https://provost.upenn.edu/" target="_blank">Penn Provost's Office</a>, the <a class="link blue underline dim-l" href="https://www.med.upenn.edu/evpdean/" target="_blank">Perelman School of Medicine Dean’s Office</a>, the <a class="link blue underline dim-l" href="https://www.med.upenn.edu/neurology/research-programs.html" target="_blank">Department of Neurology</a>, the <a class="link blue underline dim-l" href="https://www.pennmedicine.org/departments-and-centers/department-of-radiology" target="_blank">Department of Radiology</a>, and the <a class="link blue underline dim-l" href="https://www.med.upenn.edu/center-for-human-appearance/" target="_blank">Center for Human Appearance</a>.
          </p>

          <p class="mb2 mb3-ns">
            In part because of our work, neuroaesthetics is poised to grow exponentially and have a broad impact across different sectors of society. The PCfN has quickly become the international leader in research examining and establishing the biological bases of aesthetic experiences.
          </p>

          <p class="mb3 mb4-ns">
            To learn more about what we've accomplished in our first 2 years, we invite you to read through our center report, available here →
          </p>

          <ul class="list pl0 mb4 mb5-l">
            <li><a class="dib bg-liberty shadow-6 f5 f4-ns white tc b link dim-l pv2 ph3 pv3-ns ph5-ns br2" href="assets/pdf/reports/PCfN-Report-2019-and-2020.pdf" target="_blank">PCfN Report, 2019 & 2020</a></li>
          </ul>

          <!-- AVISORS -->
          <h2 class="bluegreen lh-title mb1 mb2-ns">
            Advisory board
          </h2>
          <hr class="w-100 ba b--bluegreen mb3">

          {% assign advisory_board = site.data.people | where: "advisory_board_group", "true" | sort: "last_name" %}
          {% for person in advisory_board %}
            <div class="pv3 pv4-l">
              {% include components/person_advisor.html param=person %}
            </div>
          {% endfor %}

        </div>
      </div>

      <div class="bg-white shadow-6 mw-55rem center br2 pa3 pa4-m pa5-l">
        <h2 class="lh-title tc mb3 mb4-ns">
          Learn more about the PCfN!
        </h2>
        <div>
          <div class="flex flex-column flex-row-ns">
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/community.html">Community</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/research.html">Research</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2" href="/news.html">News</a>
          </div>
        </div>
      </div>


    </section>
  </div>
</main>
