---
title: About
big_header:
  bh_title: About the center
  bh_background: bg-museum
  bh_caption: "By <a class='white link underline dim-l' href='https://unsplash.com/@sakulich' target='_blank'>Sergei Akulich</a>"
description: Learn more about the PCfN mission and our advisory board.
sections:
- About the center
---
<main class="relative bg-pattern-circuit f4-m f3-l lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">

  <div class="relative mw-64rem center">

    <section id="{{ page.sections[0] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen mb4 mb5-m mb6-l">

        <div class="pb0 pb3-m pb4-l pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            Our mission
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-m mb5-l">

          <div class="flex flex-column flex-row-l items-center mb4 mb5-l">
            <div class="flex-none mw-20rem-ns pa1 ba br1 br-100-ns b--moon-gray mb2 mb3-m mb0-l mr5-l">
              <img class="db br1 br-100-ns" src="/assets/img/mission/holger-link-krmjTrp_OpI-unsplash.jpg" />
            </div>
            <div class="flex flex-column">
              <p class="self-center-m self-start-l order-last-l f6 f5-l light-silver mw-20rem-m mb3 mb0-l">
                Image by <a class="link blue underline dim-l" href="https://unsplash.com/@photoholgic" target="_blank">Holger Link</a>
              </p>
              <ul class="list lh-title tc-m pl0 mb4-l">
                <li class="mb3">Advance research in basic and applied neuroaesthetics</li>
                <li class="mb3">Educate the next generation of scientists</li>
                <li class="mb3">Converge allied interdisciplinary interests</li>
                <li class="mb3">Welcome investigators and creative experts</li>
                <li>Engage with the arts community</li>
              </ul>
            </div>
          </div>

          <!-- AVISORS -->
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            Advisory board
          </h2>
          <hr class="w-100 ba b--bluegreen mb3">

          {% assign advisory_board = site.data.people | where: "advisory_board_group", "true" | sort: "last_name" %}
          {% for person in advisory_board %}
            <div class="flex flex-column flex-row-l items-center items-start-l pv3 pv4-l">
              <div class="flex-none pa1 ba br-100 b--moon-gray mb3 mb0-l mr5-l">
                <img class="db br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" />
              </div>
              <div class="lh-title f5 f4-ns">
                <h3 class="tc tl-l mb2">
                  {{ person.first_name }} {{ person.last_name }}
                </h3>
                <p class="f5 tc tl-l silver mb3">
                  {{ person.advisory_board_title }}
                </p>
                <p class="{% if person.links %}mb2 mb3-l{% endif %}">
                  {{ person.bio }}
                </p>
                <p>
                  <a class="f5 blue underline link dim-l" href="{{ person.links[0].link_url }}">{{ person.links[0].link_name }}</a>
                </p>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

      <div class="bg-white shadow-6 mw-55rem center br2 pa3 pa4-m pa5-l">
        <h2 class="font-default lh-title tc mb3 mb4-ns">
          Learn more about PCfN!
        </h2>
        <div>
          <div class="flex flex-column flex-row-ns">
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/community.html">Community</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/research.html">Research</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2" href="/news.html">News</a>
          </div>
        </div>
      </div>


    </section>
  </div>
</main>
