---
title: Community
subtitle: Our community
header: bg-leaves
description: This is the community page.
---
<section class="bg-light-gray">
  <div class="min-vh-100 pa4 pa5-m pa6-l flex flex-column justify-center items-center">
    <div class="bg-white-50 br1 pa4 pa5-ns">
      <p class="f4 f3-l lh-copy measure">We bring people together whose expertise converge on neuroaesthetics scientific aims. This includes faculty from the Perelman School of Medicine, the School of Arts and Sciences, the School of Design, and the Wharton School.</p>
    </div>
  </div>
</section>
<section class="bg-near-white bb b--moon-gray">
  <div class="min-vh-100 pa5 pa5-m pa6-l flex flex-column flex-row-ns justify-center items-center-ns">
    {% for person in site.people %}
      {% include person-mini.html data=person.data %}
    {% endfor %}
  </div>
</section>
