---
title: Community
subtitle: Our community
header: bg-leaves
description: This is the community page.
---
<section class="bg-light-gray">
  <div class="min-vh-100 pa4 pa5-m pa6-l flex flex-column justify-center items-center">
    <div class="bg-white-50 br1 pa4 pa5-ns">
      <p class="f4 f3-l lh-copy measure">We bring people together whose expertise converge on neuroaesthetics scientific aims. This includes faculty from the Perelman School of Medicine, the School of Arts and Sciences, the School of Design, and the Wharton School.</p>
    </div>
  </div>
</section>
<section class="bg-near-white bb b--moon-gray">
  <div class="min-vh-100 pv5 ph4 pa5-m pa6-l flex flex-column items-center justify-center">
    <div>
      {% for person in site.people %}
        {% assign mod_three = forloop.index | modulo:4 %}
        {% if forloop.first %}
          <div class="bg-white mw-50 ph4 pv5 ph5-ns flex flex-column flex-row-l justify-center">
          {% include person-mini.html data=person.data %}
        {% elsif forloop.last %}
          {% include person-mini.html data=person.data %}
          </div>
        {% elsif mod_three == 0 %}
          {% include person-mini.html data=person.data %}
          </div>
          <div class="bg-white mw-50 ph4 pb5 ph5-ns flex flex-column flex-row-l justify-center">
        {% else %}
          {% include person-mini.html data=person.data %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
