---
title: Home
big_header:
  bh_title: Penn Center for Neuroaesthetics
  bh_background: bg-angles
  bh_caption: "By <a class='white link underline dim-l' href='https://www.lynnbdenton.com' target='_blank'>Lynn Blackwell Denton</a>"
description: Penn Center for Neuroaesthetics (PCfN), directed by Anjan Chatterjee, MD, FAAN. Converging an international community of investigators and creative experts to promote research and education in neuroaesthetics.
---
<main class="relative bg-pattern-circuit f4-m f3-l lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">

  <div class="relative mw-64rem center">

    <section class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen mb4 mb5-m mb6-l">

        <div class="pa3 pa4-m pa5-l">

          <h2 class="bluegreen lh-title mb1 mb2-ns">
            Welcome to the PCfN
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          <div class="flex mb4">
            <div class="flex-none mr3 mr4-ns">
              {% octicon light-bulb height: 40 %}
            </div>
            <div>
              <h3 class="normal mb2">
                <span class="b mr2-ns">Neu·ro·aes·the·tics</span>
                <br class="dn-ns" />
                <span class="mr2">/ˌnu̇r-ō-es-ˈthe-tiks/</span>
                <i>n.</i>
              </h3>
              <p>
                A subdiscipline of cognitive neuroscience concerned with the neural basis of aesthetic experiences, which involve interactions with entities and events that evoke intense feelings, often of pleasure.
              </p>
            </div>
          </div>

          <h2 class="bluegreen lh-title mb1 mb2-ns">
            Themes
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          {% for research_theme in site.data.research_themes %}
            {% include components/research_theme.html param=research_theme %}
          {% endfor %}

          <h2 class="bluegreen lh-title mb1 mb2-ns">
            Questions
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          {% for section in site.data.research_questions %}
            {% include components/research_questions_section.html param=section %}
          {% endfor %}

        </div>
      </div>

      <div class="bg-white shadow-6 mw-55rem center br2 pa3 pa4-m pa5-l">
        <h2 class="lh-title tc mb3 mb4-ns">
          Learn more about the PCfN!
        </h2>
        <div>
          <div class="flex flex-column flex-row-ns">
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/community.html">Community</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/research.html">Research</a>
            <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2" href="/news.html">News</a>
          </div>
        </div>
      </div>


    </section>


  </div>
</main>
