---
title: Research
big_header:
  bh_title: Research
  bh_background: bg-wall
  bh_caption: "By <a class='white link underline dim-l' href='http://www.jessieandkatey.com' target='_blank'>Jessie and Katey</a>"
description: Check out PCfN projects, publications, and resources.
sections:
- Current projects
- Neuroaesthetics publications
- Neuroaesthetics resources
---
<main class="relative bg-pattern-circuit f4-m f3-l lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">

  <div class="relative mw-64rem center">

    <section id="{{ page.sections[0] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen">

        <div class="pa3 pa4-m pa5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[0] }}
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          <section class="pb3 pb4-l">
            <p>
              Our research involves a wide range of topics and approaches. Current projects focus on the built environment and wellness, beauty and morality, and engagement with art.
            </p>
          </section>

          <section id="beauty-and-morality" class="pv3 pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              Beauty and morality
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            {% assign projects_beauty_morality = site.data.projects | where: "category", "beauty_and_morality" %}
            {% for project in projects_beauty_morality %}
              {% include components/project.html param=project %}
            {% endfor %}

          </section>


          <section id="the-built-environment-and-wellness" class="pv3 pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              The built environment and wellness
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            {% assign projects_built_env = site.data.projects | where: "category", "the_built_environment_and_wellness" %}
            {% for project in projects_built_env %}
              {% include components/project.html param=project %}
            {% endfor %}

          </section>


          <section id="engagement-with-art" class="pv3 pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              Engagement with art
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            {% assign projects_engagement = site.data.projects | where: "category", "engagement_with_art" %}
            {% for project in projects_engagement %}
              {% include components/project.html param=project %}
            {% endfor %}

          </section>


          <section class="pt3 pt4-l">
            <div class="flex flex-column items-start flex-row-ns items-center-ns">
              <span class="w-100 mb3 mb0-ns mr4-ns">
                Neuroaesthetics projects are conducted through our associated research group, ChatLab.
              </span>
              <a class="flex-none f5 f4-ns bluegreen tc b link dim-l w-100 w-auto-ns pv2 ph3 ba bw1 br3 b--bluegreen" href="/chatlab.html" target="_blank">
                Website for ChatLab →
              </a>
            </div>
          </section>

        </div>

      </div>

    </section>

    <section id="{{ page.sections[1] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen">

        <div class="pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[1] }}
          </h2>
          <hr class="w-100 ba b--bluegreen">
        </div>

        <div class="js-vt-container">
          {% comment %} inserted extra pt3-l after hr bc more slightly more distance is necessary between the preceeding hr and following bt {% endcomment %}
          <div class="js-vt-viewer" data-vt-viewer-type="show-more" data-vt-show-more-init-visible="5" data-vt-show-more-max="10" data-vt-show-more-responsive="false">
            {% assign pubs_sorted = site.data.publications | where: "category", "neuroaesthetics" | sort: "work_post_date_fake" | reverse %}
            {% for publication in pubs_sorted %}
              <div class="pv3 pv4-ns ph3 ph4-m ph5-l{% unless forloop.first %} bt b--black-10{% endunless %}">
                {% include components/publication.html param=publication %}
              </div>
            {% endfor %}
          </div>
          <div class="js-vt-button-wrap pb3 pb4-ns ph3 ph4-ns">
            <div class="js-vt-button flex items-center justify-center w-100 bg-near-white shadow-6 silver b lh-title dim-l pointer pv4 br2">
              <span class="mr3">
                Show more
              </span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="{{ page.sections[2] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen mb4 mb5-m mb6-l">

        <div class="pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[2] }}
          </h2>
          <hr class="w-100 ba b--bluegreen">
        </div>

        <div>
          {% comment %} inserted extra pt3-l after hr bc more slightly more distance is necessary between the preceeding hr and following bt {% endcomment %}
          {% for resource in site.data.resources %}
            <div class="pv4 ph3 ph4-m ph5-l{% unless forloop.index == 1 %} bt b--black-10{% endunless %}">
              {% include components/resource.html param=resource %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="bg-white shadow-6 mw-40rem center br2 pa3 pa4-m pa5-l">
        <h2 class="font-default lh-title tc mb3 mb4-ns">
          Learn more about PCfN!
        </h2>
        <div class="flex flex-column flex-row-ns">
          <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/community.html">Community</a>
          <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2" href="/news.html">News</a>
        </div>
      </div>


    </section>



  </div>
</main>
