---
title: Research
big_header:
  bh_title: Research
  bh_background: bg-wall
  bh_caption: "By <a class='white link underline dim-l' href='http://www.jessieandkatey.com' target='_blank'>Jessie and Katey</a>"
description: Check out PCfN projects, publications, and resources.
sections:
- Current projects
- Neuroaesthetics publications
- Neuroaesthetics resources
---
<main class="relative bg-pattern-circuit f4-m f3-l lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">
  <div class="absolute absolute--fill dn db-l {{ page.big_header.bh_background }} bg-cover bg-fixed-l"></div>
  <div class="absolute absolute--fill dn db-l bg-pattern-circuit o-90"></div>
  <div class="relative mw-64rem center">


    <section id="{{ page.sections[0] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen">

        <div class="pa3 pa4-m pa5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[0] }}
          </h2>
          <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

          <section class="pb3 pb4-l">
            <p class="mb0">
              Our research involves a wide range of topics and approaches. Current projects focus on the built environment and wellness, beauty and morality, and engagement with art.
            </p>
          </section>

          <section id="beauty-and-morality" class="pv3 pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              Beauty and morality
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/faces/modified.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/faces/original.jpg" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Original image from the <a class="link blue underline dim-l" href="https://chicagofaces.org" target="_blank">Chicago Face Database</a>
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  Our research shows that people with facial anomalies, such as scars or paralysis, are viewed as having worse social traits. These problematic stereotypes are associated with implicit biases and neural responses suggestive of diminished empathy and possibly, dehumanization.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/bodies/original.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/bodies/painted.png" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Original images from the <a class="link blue underline dim-l" href="http://www.uconnruddcenter.org/" target="_blank">UConn Rudd Center for Food Policy & Obesity</a>
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  We also study how individuals are judged based on other physical features such as body weight. We examine whether these sorts of harmful biases are malleable and context dependent—for instance, when photographs are modified to look like works of art.                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

          </section>


          <section id="the-built-environment-and-wellness" class="pv3 pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              The built environment and wellness
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/architecture/steven-spassov-54423-unsplash.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/architecture/jean-philippe-delberghe-756057-unsplash.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/architecture/john-towner-133303-unsplash.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/architecture/manu-schwendener-7567-unsplash.jpg" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Images by <a class="link blue underline dim-l" href="https://unsplash.com/@stevenspassov" target="_blank">Steven Spassov</a>, <a class="link blue underline dim-l" href="https://unsplash.com/@jipy32" target="_blank">Jean-Philipe Delberghe</a>, <a class="link blue underline dim-l" href="https://unsplash.com/@heytowner" target="_blank">John Towner</a>, and <a class="link blue underline dim-l" href="https://unsplash.com/@manuschwendener" target="_blank">Manu Schwendener</a>
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  What are the specific features of interior and exterior spaces that promote wellness? We investigate how various design features, such as ceiling height or wall curvature, can determine our experiences along certain psychological dimensions—coherence, fascination, and hominess.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/ewingcole/view1.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/ewingcole/view2.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/ewingcole/floorplan.png" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Images from <a class="link blue underline dim-l" href="https://www.ewingcole.com/" target="_blank">EwingCole</a>
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  In collaboration with the architecture firm <a class="link blue underline dim-l" href="https://www.ewingcole.com/" target="_blank">EwingCole</a>, we're using neuroaesthetics principles to help design residential spaces for people with short term memory deficits. A new memory care facility incorporating these principles will be built in Quakertown, Pennsylvania.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

          </section>


          <section id="engagement-with-art" class="pt3 pv3-m pv4-l">
            <h3 class="bluegreen font-default lh-title b mb1 mb2-ns">
              Engagement with art
            </h3>
            <hr class="w-100 ba b--bluegreen mb3 mb4-ns">

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/gradients/original.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/gradients/gradients-strength.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/gradients/gradients-orientation.png" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Portrait of Louise-Antoinette Feuardent by Jean-François Millet, from the <a class="link blue underline dim-l" href="http://www.getty.edu/museum/" target="_blank">J. Paul Getty Museum</a> online collection
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  There are many ways to measure the physical properties of an image. One approach is to study patterns in low level features, such as in the distribution of visual edges in a work of art. Based on the strength and orientation of edges, we can quantify properties such as visual complexity and measure the extent to which these properties affect our aesthetic preferences.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

            <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/motion/pma-mondrian.jpg" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/motion/pma-pollock.jpg" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  No. 22 by Jackson Pollock and Composition with Blue and Yellow by Piet Mondrian, from the <a class="link blue underline dim-l" href="https://www.philamuseum.org/" target="_blank">Philadelphia Museum of Art</a> online collection
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  Individuals perceive a varying quality of motion in abstract work by artists like Jackson Pollock and Piet Mondrian. We examine how this motion affects aesthetic preferences. We're also exploring whether preferences for motion are affected in individuals with Parkinson’s disease, who may have difficulty forming representations of action and movement.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

            <div class="flex flex-column items-center flex-row-l items-start-l">
              <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
                <div class="js-carousel-container">
                  <img class="br1" src="/assets/img/projects/networks/network-1.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/networks/network-2.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/networks/network-3.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/networks/network-4.png" alt="" height="" width="">
                  <img class="br1" src="/assets/img/projects/networks/network-5.png" alt="" height="" width="">
                </div>
              </div>
              <div class="flex flex-column items-center flex-column-reverse-l items-start-l">
                <p class="f6 f5-l light-silver mb3 mb0-l">
                  Images from the <a class="link blue underline dim-l" href="https://neuroaesthetics.med.upenn.edu/" target="_blank">Penn Center for Neuroaesthetics</a>
                </p>
                <p class="f5 f4-l mb0 mb3-l">
                  There is enormous variety in the universe of visual art. A powerful method to bring order to this chaos is network analysis. Networks help us cluster images that have similar physical properties or that have been described using similar language. These groupings help us reveal underlying patterns in how we respond to art and what drives our appreciation for beauty.
                </p>
                <p>
                  <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
                </p>
              </div>
            </div>

          </section>

          <section class="pt3 pt4-l">
            <div class="flex flex-column items-start flex-row-ns items-center-ns">
              <span class="w-100 mb3 mb0-ns mr4-ns">
                Neuroaesthetics projects are conducted through our associated research group, ChatLab.
              </span>
              <a class="flex-none f5 f4-ns bluegreen tc b link dim-l w-100 w-auto-ns pv2 ph3 ba bw1 br3 b--bluegreen" href="/chatlab.html" target="_blank">
                Website for ChatLab →
              </a>
            </div>
          </section>

        </div>

      </div>

    </section>

    <section id="{{ page.sections[1] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen">

        <div class="pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[1] }}
          </h2>
          <hr class="w-100 ba b--bluegreen">
        </div>

        <div class="js-vt-container">
          {% comment %} inserted extra pt3-l after hr bc more slightly more distance is necessary between the preceeding hr and following bt {% endcomment %}
          <div class="js-vt-viewer" data-vt-viewer-type="show-more" data-vt-show-more-init-visible="5" data-vt-show-more-max="10" data-vt-show-more-responsive="false">
            {% assign pubs_sorted = site.data.external.publications | where: "category", "neuroaesthetics" | sort: "work_post_date_fake" | reverse %}
            {% for publication in pubs_sorted %}
              <div class="pv3 pv4-ns ph3 ph4-m ph5-l{% unless forloop.first %} bt b--black-10{% endunless %}">
                {% include components/publication.html %}
              </div>
            {% endfor %}
          </div>
          <div class="js-vt-button-wrap ph3 ph4-ns pb3 pb4-ns">
            <div class="js-vt-button flex items-center justify-center w-100 bg-near-white dim-l pointer f5 f4-ns lh-title light-silver b pv3 ph5-ns br2 shadow-6">
              <span class="mr3">
                Show more
              </span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="{{ page.sections[2] | slugify }}" class="pv3 pv4-m pv5-l">

      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen mb4 mb5-m mb6-l">

        <div class="pt3 pt4-m pt5-l ph3 ph4-m ph5-l">
          <h2 class="bluegreen font-default lh-title b mb1 mb2-ns">
            {{ page.sections[2] }}
          </h2>
          <hr class="w-100 ba b--bluegreen">
        </div>

        <div class="">
          {% comment %} inserted extra pt3-l after hr bc more slightly more distance is necessary between the preceeding hr and following bt {% endcomment %}
          {% for resource in site.data.resources %}
            <div class="pv4 ph3 ph4-m ph5-l{% unless forloop.index == 1 %} bt b--black-10{% endunless %}">
              {% include components/resource.html %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="bg-white shadow-6 mw-40rem center br2 pa3 pa4-m pa5-l">
        <h2 class="font-default lh-title tc">
          Learn more about PCfN!
          <!-- LEAVE OUT PER AC/EC: Meet our community, check out our research, or catch up on the latest news! -->
        </h2>
        <div class="flex flex-column flex-row-ns">
          <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2 mb2 mb0-ns mr2-ns" href="/community.html">Community</a>
          <a class="db bg-liberty shadow-6 white f5 f4-ns white tc b link dim-l w-100 pa2 pa3-ns br2" href="/news.html">News</a>
        </div>
      </div>


    </section>



  </div>
</main>
