# Node
/node_modules/

# Ruby
/vendor/

# Jekyll
/_data/external/
/_puppeteer/*
!/_puppeteer/root/
/_puppeteer/root/*
!/_puppeteer/root/index.*
/_includes/partials/jazzicon/
/_site/
/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata

# macOS
.DS_Store
