# CACHEING

# cache for maximum of 1 year
Header set Cache-Control "max-age=31536000, must-revalidate"

# may use cached HTML only after validating with server
<filesMatch "\.(html)$">
  Header set Cache-Control "no-cache"
</filesMatch>

# query strings are manually appended to URLs when updating image files
# query strings are automatically appended to URLs for CSS/JS (during Jekyll build)

# REDIRECTS

# updated name in URL
Redirect 301 /people/yoed-kennett.html https://neuroaesthetics.med.upenn.edu/people/yoed-kenett.html

# moved video to YouTube
Redirect 301 /assets/video/2020-09-21--pcfn-hhf-colloquium.mp4 https://www.youtube.com/watch?v=6VkDaZWnVKg

# REWRITES

# redirect to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
