<header class="{% if page.collection == "pages" %}{{ page.header }} bg-cover bg-fixed min-vh-100 {% endif %}flex flex-column">
  <nav class="bg-near-white flex flex-column items-center bb b--moon-gray">
    <div class="flex items-center pv3">
      <a class="link dim" href="/index.html">
        <img src="/assets/img/logo/penn-center-for-neuroaesthetics-logo.png" alt="Logo for the Penn Center for Neuroaesthetics" width="130" height="auto">
      </a>
    </div>
    <div class="f5 f4-ns self-stretch flex items-center justify-center bt b--moon-gray pv3">
      <a class="link black-70 dim mr4" href="/about.html">About</a>
      <a class="link black-70 dim mr4" href="/community.html">Community</a>
      <a class="link black-70 dim" href="/news.html">News</a>
      <!-- <a class="b link black-70 dim" href="http://ccn.upenn.edu/chatterjee" target="_blank">ChatLab</a> -->
    </div>
  </nav>
  <div class="bg-green ph4 pv2 near-white o-90">
    <p class="tc b">Announcement: <a class="link underline near-white" href="https://www.pennmedicine.org/news/news-releases/2018/june/penn-medicine-launches-nations-first-neuroaesthetics-research-center" target="_blank">Introducing, Penn Center for Neuroaesthetics!</a></p>
  </div>
  {% if page.collection == "pages" %}
    <div class="flex justify-center items-center ph3 pv4 ph4-m pv5-ns ph6-l flex-auto">
      {{ header_content }}
    </div>
  {% endif %}
</header>
