<!-- HEADER -->
<header class="{% if page.collection == "pages" %}{{ page.header }} bg-cover bg-fixed min-vh-100 {% endif %}flex flex-column">
  <nav class="bg-near-white f6 f5-ns flex flex-column flex-row-ns items-center pv3-ns ph5-m ph6-l bb b--moon-gray">
    <div class="flex items-center pv3 pv0-ns mr4-ns">
      <a class="link dim mr4 mr0-ns" href="/index.html">
        <img src="/assets/img/logo/logo-pcfn.png" alt="Logo for the Penn Center for Neuroaesthetics" width="auto" height="85">
      </a>
      <!-- <a class="link dim dn-ns" href="http://www.med.upenn.edu/" target="_blank">
        <img src="/assets/img/logo/logo-psom.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="110" height="auto">
      </a> -->
    </div>
    <div class="self-stretch flex items-center justify-center bt b--moon-gray bn-ns pv3 pv0-ns mr4-ns">
      <a class="b f5 link near-black dim mr4 mr3-ns" href="/about.html">About</a>
      <a class="b f5 link near-black dim mr4 mr3-ns" href="/community.html">Community</a>
      <a class="b f5 link near-black dim" href="/news.html">News</a>
    </div>
    <!-- <div class="flex-auto tr dn db-ns">
      <a class="link dim" href="http://www.med.upenn.edu/" target="_blank">
        <img src="/assets/img/logo/logo-psom.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="142" height="auto">
      </a>
    </div> -->
  </nav>
  {% if page.collection == "pages" %}
    <div class="flex flex-column justify-center items-center pa4 pa5-ns flex-auto">
      <div class="bg-white-80 br1 pa4 pa5-l ba b--black-20 shadow-6">
        {{ header_content }}
      </div>
    </div>
  {% endif %}
</header>
