{% assign data = include.data %}
{% assign extra_content = include.extra_content %}
<div>
  <div class="bg-near-white pv3 ph4 ba b--moon-gray br1 br--top">
    <p class="tl">
      {% if data.affiliation == "University of Pennsylvania" %}
        {% if data.program == "Penn Center for Neuroaesthetics" %}
          <a class="b mr2 link underline black dim" href="/community.html#pcfn-people">Community</a>
        {% else %}
          <a class="b mr2 link underline black dim" href="/community.html#penn-affiliates">Community</a>
        {% endif %}
      {% else %}
        <a class="b mr2 link underline black dim" href="/community.html#other-collaborators">Community</a>
      {% endif %}
      <span class="b mr2">→</span>
      <span class="b mr2">{{ data.first_name }} {{ data.middle_initials}} {{ data.last_name }}</span>
    </p>
  </div>
  <div class="f5 bg-white pa4 pt5 bl br bb b--moon-gray br1 br--bottom">
    <img class="db center br-100 pa1 ba bw1 b--moon-gray mb4" src="/assets/img/people/225/{{ data.photo }}" alt="{{ data.title }}" height="auto" width="225">
    <h2 class="tracked-tight tc mb2">{{ data.first_name }} {{ data.middle_initials}} {{ data.last_name }}</h2>
    <div class="mb4">
      {% if data.affiliation == "University of Pennsylvania" %}
        {% if data.position %}
          <p class="f4 tc mb2">{{ data.position }}</p>
        {% endif %}
        {% if data.school %}
          <p class="tc silver mb1">{{ data.school }}</p>
        {% endif %}
        {% if data.department %}
          <p class="i tc silver">{{ data.department }}</p>
        {% endif %}
      {% else %}
        <p class="tc silver">{{ data.affiliation }}</p>
      {% endif %}
    </div>
    <hr class="w-100 ba b--light-gray mb3 mb4-ns"/>
    <div class="lh-copy">
      <div class="{% if data.links %}mb4{% endif %}">
        <p class="{% if extra_content %}mb4{% endif %}">{{ data.bio | smartify }}</p>
        {{ extra_content }}
      </div>
      {% if data.links %}
        <hr class="w-100 ba b--light-gray mb4"/>
        <div class="pl2-ns">
          <h3 class="tracked-tight mb2 mb3-ns">Links</h3>
          <ul class="list pl0">
            {% for link_item in data.links %}
              <li class="mb2 lh-title">
                <a class="link blue underline dim" href="{{ link_item.link_url }}" target="_blank">
                  {{ link_item.link_name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
