<div class="f5 w-third-l mb5 mb0-l{% unless do_another_row == true or first_item == true %} ml5-l{% endunless %}">
  <div class="flex flex-column items-center-m flex-row-m">
    <div class="tc mb3 mr4-m mb0-m">
      <img class="br-100 pa1 ba b--moon-gray" src="/assets/img/people/225/{{ person.photo }}" alt="{{ person.first_name }} {{ person.middle_initials}} {{ person.last_name }}" height="auto" width="225">
    </div>
    <div class="h4 tc tl-m">
      <h3 class="tc tracked-tight tl-m mb2">{{ person.first_name }} {{ person.middle_initials}} {{ person.last_name }}</h2>
      <div class="mb3">
        {% if person.affiliation == "University of Pennsylvania" %}
          {% if person.program == "Penn Center for Neuroaesthetics" %}
            <p class="silver">{{ person.position_short }}</p>
          {% else %}
            <p class="mb1 silver">{{ person.school }}</p>
          {% endif %}
        {% else %}
          <p class="silver">{{ person.affiliation }}</p>
        {% endif %}
      </div>
      {% unless person.content == "" %}<a class="db dib-m w4-m link dim bg-blue white tc b pv2 br2" href="{{ person.url }}">Bio →</a>{% endunless %}
    </div>
  </div>
</div>
