/* TODO: optimize for non-retina devices, enhance for retina iMacs ========== */

.bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--1280w.webp); }
.bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--1280w.webp); }
.bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--1280w.webp); }
.bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--1280w.webp); }
.bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--1280w.webp); }
.bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--1280w.webp); }
.bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--1280w.webp); }

.no-webp .bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--1280w.jpg); }
.no-webp .bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--1280w.jpg); }
.no-webp .bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--1280w.jpg); }
.no-webp .bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--1280w.jpg); }
.no-webp .bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--1280w.jpg); }
.no-webp .bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--1280w.jpg); }
.no-webp .bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--1280w.jpg); }

/* MEDIUM (TACHYONS) ======================================================== */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--1920w.webp); }
  .bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--1920w.webp); }
  .bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--2560w.webp); }
  .bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--1920w.webp); }
  .bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--1920w.webp); }
  .bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--1920w.webp); }
  .bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--1920w.webp); }

  .no-webp .bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--1920w.jpg); }
  .no-webp .bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--1920w.jpg); }
  .no-webp .bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--2560w.jpg); }
  .no-webp .bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--1920w.jpg); }
  .no-webp .bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--1920w.jpg); }
  .no-webp .bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--1920w.jpg); }
  .no-webp .bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--1920w.jpg); }
}

/* LARGE (TACHYONS) ========================================================= */
@media screen and (min-width: 60em) {
  .bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--2560w.webp); }
  .bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--2560w.webp); }
  .bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--2560w.webp); }
  .bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--2560w.webp); }
  .bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--2560w.webp); }
  .bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--2560w.webp); }
  .bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--2560w.webp); }

  .no-webp .bg-angles { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--angles--2560w.jpg); }
  .no-webp .bg-flickr-goddard { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--flickr-goddard--2560w.jpg); }
  .no-webp .bg-lips { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--lips--2560w.jpg); }
  .no-webp .bg-museum { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--sergei-akulich-564980-unsplash--2560w.jpg); }
  .no-webp .bg-shapecolor { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--shapecolor--2560w.jpg); }
  .no-webp .bg-tag { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--tag--2560w.jpg); }
  .no-webp .bg-wall { background-image: url(/assets/img/responsive/jpg/backgrounds/bg--wall--2560w.jpg); }
}
