<footer class="bg-near-white pv4 pv5-ns ph3 ph4-m ph6-l bt b--moon-gray">
  <div class="mw-64rem center flex flex-column items-center flex-row-reverse-l justify-between-l silver">
    <!-- PCfN TWITTER -->
    <div class="w-100 measure-m w-two-thirds-l bg-white ba br2 b--black-20 pa3 mb4 mb5-ns mb0-l">
      <div class="flex justify-between items-end mb3">
        <span class="w-100 b">PCfN on Twitter</span>
        <a class="w-100 tr link blue underline dim" href="https://twitter.com/PCfN__" target="_blank">Twitter page</a>
      </div>
      <a class="twitter-timeline" href="https://twitter.com/PCfN__" data-height="200" data-chrome="transparent noheader nofooter" data-dnt="true">Tweets by PCfN__</a>
    </div>
    <div class="w-third-l tc tl-l mr5-l">
      <!-- PSOM LOGO -->
      <a class="link dim db mb4" href="http://www.med.upenn.edu/" target="_blank"><img class="o-70" src="/assets/img/logo/perelman-school-of-medicine-logo.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="200" height="auto"></a>
      <!-- PCfN CONTACT -->
      <p class="b mb2">Penn Center for Neuroaesthetics</p>
      <p class="mb2">Copyright 2018</p>
      <p class=""><a class="link blue o-50 underline dim" href="/contact.html">Contact</a></p>
    </div>
  </div>
</footer>
