<head>
  <meta charset="utf-8">
  {% if page.collection == "events" %}
    <title>PCfN → News → {{ page.title }}</title>
    <meta name="description" content="Event page for {{ page.title }}">
  {% elsif page.collection == "announcements" %}
    <title>PCfN → News → {{ page.title }}</title>
    <meta name="description" content="Announcment page for {{ page.title }}">
  {% elsif page.dir contains "people" %}
    <title>PCfN → Community → {{ page.first_name }} {% if page.middle_initials %}{{ page.middle_initials}} {% endif %}{{ page.last_name }}</title>
    <meta name="description" content="Meet {{ page.first_name }} {% if page.middle_initials %}{{ page.middle_initials}} {% endif %}{{ page.last_name }}">
  {% else %}
    {% comment %} e.g., for _pages {% endcomment %}
    <title>PCfN → {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Questrial&display=swap">
  <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: "%s" }}">
  {% if page.url == "/index.html" %}
    {% comment %} Specify canonical URL for /index.html {% endcomment %}
    <link rel="canonical" href="https://neuroaesthetics.med.upenn.edu/">
  {% endif %}
  <script>
    // Picture element HTML5 shiv used with picturefill.js (should stay in head)
    document.createElement( "picture" );
  </script>
</head>
