{% if page.sections[1] %}
  <nav class="bg-white-95 pv4-l ph6-l bb b--black-10">
    <p class="dn-l f5 f4-m bluegreen b pv3 ph3 ph4-m mb0 bb b--black-10">
      On this page →
    </p>
    <table id="page-nav__table" class="f6 f5-m f4-l bluegreen">
      {% tablerow section in page.sections cols: 2 %}
        <a class="db dib-l bluegreen link dim-l pv2 ph3 ph4-m pa0-l" href="{{ section | slugify | prepend: '#' }}">
          {{ section }}
        </a>
        {% unless tablerowloop.last %}<span class="dn dib-l mh3-l"> | </span>{% endunless %}
      {% endtablerow %}
    </table>
  </nav>
{% endif %}
