{% assign todays_date = site.time | date: "%Y-%m-%d" %}
{% for announcement in site.announcements %}
  {% assign ds = announcement.date_start | date: "%Y-%m-%d" %}
  {% assign de = announcement.date_end | date: "%Y-%m-%d" %}
  {% if todays_date >= ds and todays_date <= de %}
    <div class="bg-green pv2 white o-90">
      <div class="ph3 ph4-m ph6-l">
        <p class="tc mw-55rem center">
          <a class="link underline near-white" href="{% if announcement.ext_announcement %}{{ announcement.ext_announcement.link_url }}{% else %}{{ announcement.url }}{% endif %}" {% if announcement.ext_announcement %}target="_blank"{% endif %}>
            <span class="b">{{ announcement.source }}</span>: {{ announcement.title }}
          </a>
        </p>
      </div>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
