{% comment %}
  grabs the LATEST announcement that hasn't ended yet
{% endcomment %}
{% assign todays_date = site.time | date: "%Y-%m-%d" %}
{% assign announcements_sorted = site.announcements | sort: "date_start" | reverse %}
{% for announcement in announcements_sorted %}
  {% assign ds = announcement.date_start | date: "%Y-%m-%d" %}
  {% assign de = announcement.date_end | date: "%Y-%m-%d" %}
  {% if todays_date >= ds and todays_date <= de %}
    <div class="bg-bluegreen o-90 white pv2 ph3 ph4-m ph6-l shadow-5">
      <div class="flex justify-center mw-64rem center ph2 ph3-m ph0-l">
        <p>
          <span class="b">
            {{ announcement.source }}:
          </span>
          <a class="link underline dim-l near-white" href="{% if announcement.ext_announcement_url %}{{ announcement.ext_announcement_url }}{% else %}{{ announcement.url }}{% endif %}" {% if announcement.ext_announcement_url %}target="_blank"{% endif %}>
            {{ announcement.title }}
          </a>
        </p>
      </div>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
