<nav class="bg-near-white pv3-l ph6-l bb b--light-silver">
  <div class="mw-64rem-l center-l flex flex-column flex-row-l justify-between-l">
    <!-- PCfN LOGO -->
    <div class="flex justify-center pv3 pv0-l mr4-l">
      <a class="link dim" href="/">
        <img src="/assets/img/logo/penn-center-for-neuroaesthetics-logo.png" alt="Logo for the Penn Center for Neuroaesthetics" width="130" height="auto">
      </a>
    </div>
    <!-- SITE LINKS -->
    <div class="f5 f4-ns b flex items-center justify-center bt bn-l b--moon-gray pv3 pv0-l ph3 ph4-m ph0-l">
      <a class="link dim black-60 mr3 mr4-ns" href="/research.html">Research</a>
      <a class="link dim black-60 mr3 mr4-ns" href="/community.html">Community</a>
      <a class="link dim black-60 mr3 mr4-ns" href="/news.html">News</a>
      <a class="link dim bg-light-purple white pv1 pv2-ns ph3 br-pill" href="https://giving.apps.upenn.edu/fund?program=MED&fund=604330" target="_blank">Giving</a>
    </div>
  </div>
</nav>
