<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="{% if include.param.ext_announcement_url %}{{ include.param.ext_announcement_url }}{% else %}{{ include.param.url }}{% endif %}" {% if include.param.ext_announcement_url %}target="_blank"{% endif %}>
    <div class="flex flex-column items-center flex-row-l">
      <div class="flex-none mb4 mb0-l mr5-l">
        <div class="flex pa1 ba br-100 b--moon-gray">
          {% assign jazzicon = include.param.title | slugify: "ascii" | prepend: "partials/jazzicon/announcements/" | append: ".html" %}
          {% include {{ jazzicon }} %}
        </div>
      </div>
      <div class="tc tl-l">
        <h4 class="f4 f3-l bluegreen mb3">
          {{ include.param.title | smartify }}
        </h4>
        {% if include.param.source %}
          <p class="dib bluegreen pv1 ph2 ba bw1 b--bluegreen br2 mb3">{{ include.param.source }}</p>
        {% endif %}
        <p class="silver">{{ include.param.date_start | date: "%B %e, %Y" }}</p>
      </div>
    </div>
  </a>
</div>
