<div class="f5 f4-ns lh-title">
  <a class="db link dim" href="{% if announcement.ext_announcement_url %}{{ announcement.ext_announcement_url }}{% else %}{{ announcement.url }}{% endif %}" {% if announcement.ext_announcement_url %}target="_blank"{% endif %}>
    <h4 class="dark-green mb3">
      {{ announcement.title | smartify }}
    </h3>
    {% if announcement.source %}
      <p class="bg-dark-green dib near-white pv1 ph2 br2 b mb3">{{ announcement.source }}</p>
    {% endif %}
    <p class="silver">{{ announcement.date_start | date: "%B %e, %Y" }}</p>
  </a>
</div>
