<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="{{ include.param.url }}" target="_blank">
    <div class="flex flex-column items-center flex-row-l">
      <div class="flex-none pa1 ba br2 b--moon-gray mb4 mb0-l mr5-l">
        <img class="db br1"
             src="{{ include.param.blog_data.img_src_320w }}"
             srcset="{{ include.param.blog_data.img_src_320w }} 320w,
                     {{ include.param.blog_data.img_src_320w | replace: '--320w', '--640w' }} 640w"
             sizes="320px"
             alt="Thumbnail for {{ include.param.title }}" />
      </div>
      <div class="tc tl-l bluegreen">
        <p class="silver mb2">
          {{ include.param.date | date: "%B %e, %Y" }}
        </p>
        <h4 class="f4 f3-l b font-default mb3">
          {{ include.param.title | smartify }}
        </h4>
        <p class="dib pv1 ph2 ba bw1 b--bluegreen br2 mb3">
          {{ include.param.source }}
        </p>
        <p class="f5 mid-gray tl mb4 mb3-l">
          {{ include.param.blog_data.teaser }}
        </p>
        <p class="f6 silver">
          {{ include.param.blog_data.img_attribution }}
        </p>
      </div>
    </div>
  </a>
</div>
