<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="{{ blog_post.url }}" target="_blank">
    <div class="flex flex-column items-center flex-row-l">
      <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mb4 mb0-l mr5-l">
        <img class="db br1" src="{{ blog_post.blog_data.img }}" alt="Thumbnail for {{ blog_post.title }}" />
      </div>
      <div class="tc tl-l bluegreen">
        <p class="silver mb2">
          {{ blog_post.date | date: "%B %e, %Y" }}
        </p>
        <h4 class="f4 f3-l b font-default mb3">
          {{ blog_post.title | smartify }}
        </h4>
        <p class="dib pv1 ph2 ba bw1 b--bluegreen br2 mb3">
          {{ blog_post.source }}
        </p>
        <p class="f5 mid-gray mb4 mb3-l">
          {{ blog_post.blog_data.teaser }}
        </p>
        <p class="f6 silver mb0">
          {{ blog_post.blog_data.img_attribution }}
        </p>
      </div>
    </div>
  </a>
</div>
