<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="{% if event.ext_event_url %}{{ event.ext_event_url }}{% else %}{{ event.url }}{% endif %}" {% if event.ext_event_url %}target="_blank"{% endif %}>
    <div class="flex flex-column items-center flex-row-l">
      <div class="flex-none mb4 mb0-l mr5-l">
        <div class="flex pa1 ba br-100 b--moon-gray">
          {% assign jazzicon = event.title | slugify: "ascii" | prepend: "partials/jazzicon/events/" | append: ".html" %}
          {% include {{ jazzicon }} %}
        </div>
      </div>
      <div class="tc tl-l">
        <h4 class="f4 f3-l bluegreen font-default b mb3">
          {{ event.title | smartify }}
        </h4>
        {% if event.source %}
          <p class="dib bluegreen pv1 ph2 ba bw1 b--bluegreen br2 mb3">{{ event.source }}</p>
        {% endif %}
        {% if event.date_start == event.date_end %}
          <p class="silver mb0">{{ event.date_start | date: "%B %e, %Y" }}</p>
        {% else %}
          <p class="silver mb0">{{ event.date_start | date: "%B %e" }} - {{ event.date_end | date: "%B %e, %Y" }}</p>
        {% endif %}
      </div>
    </div>
  </a>
</div>
