<div class="f5 f4-ns lh-title">
  <div class="flex flex-column flex-row-l items-center items-start-l">
    <div class="flex-none pa1 mb3 mr5-l mb0-l ba br-100 b--moon-gray">
      <img class="db br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" />
    </div>
    <div>
      <h4 class="tc tl-l mb2">
        {{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}
      </h4>
      <p class="f5 silver tc tl-l{% if person.links %} mb2{% else %} mb3{% endif %}">{{ person.chatlab_title }}</p>
      {% if person.links %}
        <ul class="flex flex-column flex-row-ns items-center justify-center-m f5 list pl0 mb3">
          {% for link_item in person.links %}
            <li class="lh-title{% unless forloop.last %} mr3-ns{% endunless %}">
              <a class="link blue underline dim" href="{{ link_item.link_url }}" target="_blank">
                {{ link_item.link_name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class="tl">
        {{ person.chatlab_bio }}
      </p>
    </div>
  </div>
</div>
