<div class="f5 f4-ns lh-title">
  {% unless person.content == "" %}<a class="db link dim" href="{{ person.url }}">{% endunless %}
    <div class="flex flex-column items-center flex-row-m">
      {% comment %} flex: none to avoid shrinking; i.e., img should not participate in flex resizing {% endcomment %}
      <div class="flex-none mb3 mr4-m mb0-m pa1 ba b--moon-gray br-100">
        {% comment %} display: block to avoid space under img, otherwise parent container and its border are stretched {% endcomment %}
        <img class="db br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" width="225" />
      </div>
      <div class="tc tl-m">
        <h3 class="tc mid-gray tracked-tight tl-m mb2">
          {{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}
        </h3>
        <div class="f5">
          {% if person.at_pcfn %}
            {% if person.position_short and person.position_short != "" %}
              <p class="silver">{{ person.position_short }}</p>
            {% else %}
              <p class="silver">{{ person.position }}</p>
            {% endif %}
          {% elsif person.affiliation == "University of Pennsylvania" %}
            <p class="mb1 silver">{{ person.school }}</p>
          {% else %}
            <p class="silver">{{ person.affiliation }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% unless person.content == "" %}</a>{% endunless %}
</div>
