<div class="f5 f4-ns lh-title">
  <div class="flex flex-column flex-row-l items-center items-start-l">
    <div class="flex-none pa1 ba br-100 b--moon-gray mb3 mb0-l mr5-l">
      {% assign jpg_src_320w = include.param.img_src_320w | replace: '.webp', '.jpg' %}
      <picture class="db">
        <source
          type="image/webp"
          srcset="{{ include.param.img_src_320w }} 320w,
                  {{ include.param.img_src_320w | replace: '--320w', '--640w' }} 640w"
          sizes="250px">
        <img
          class="db br-100"
          src="{{ jpg_src_320w }}"
          srcset="{{ jpg_src_320w }} 320w,
                  {{ jpg_src_320w | replace: '--320w', '--640w' }} 640w"
          sizes="250px"
          alt="{{ include.param.first_name }} {% if include.param.middle_initials %}{{ include.param.middle_initials}} {% endif %}{{ include.param.last_name }}">
      </picture>
    </div>
    <div class="tc tl-l">
      <h3 class="font-serif mb2">
        {{ include.param.first_name }} {% if include.param.middle_initials %}{{ include.param.middle_initials}} {% endif %}{{ include.param.last_name }}
      </h3>
      <p class="silver{% if include.param.links %} mb2{% else %} mb3{% endif %}">
        {{ include.param.pcfn_title }}
      </p>
      {% if include.param.links %}
        <ul class="flex flex-column flex-row-ns items-center justify-center-m f5 list pl0 mb3">
          {% for link_item in include.param.links %}
            <li class="lh-title{% unless forloop.last %} mr3-ns{% endunless %}">
              <a class="link blue underline dim" href="{{ link_item.link_url }}" target="_blank">
                {{ link_item.link_name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class="tl">
        {{ include.param.bio }}
      </p>
    </div>
  </div>
</div>
