<div data-lightbox="container">

  <button class="db bg-transparent w-100 link dim bn pointer" type="button" data-lightbox="open">
    <div class="flex flex-column items-center flex-row-m">
      {% comment %} flex: none to avoid shrinking; i.e., img should not participate in flex resizing {% endcomment %}
      <div class="flex-none mb3 mr4-m mb0-m pa1 ba b--moon-gray br-100">
        {% comment %} display: block to avoid space under img, otherwise parent container and its border are stretched {% endcomment %}
        <img class="db br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" width="225" />
      </div>
      <div class="f5 f4-ns tc tl-m">
        <h3 class="tc mid-gray tl-m mb2">
          {{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}
        </h3>
        <div class="f5">
          {% if person.pcfn_group %}
            {% if person.pcfn_title_short and person.pcfn_title_short != "" %}
              <p class="silver">{{ person.pcfn_title_short }}</p>
            {% else %}
              <p class="silver">{{ person.pcfn_title }}</p>
            {% endif %}
          {% elsif person.penn_faculty_group %}
            <p class="silver mb1">{{ person.penn_school }}</p>
          {% elsif person.other_collaborators_group %}
            <p class="silver">{{ person.affiliation }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </button>

  <div class="dni" data-lightbox="viewer">
    <div class="fixed absolute--fill flex flex-column justify-center items-center bg-black-20" data-lightbox="background">
      <div class="bg-white mw-55rem max-h-75 overflow-scroll pa3 pa4-ns br3">

        <div class="flex flex-column items-center flex-row-ns items-start-ns mb4">

          <div class="flex-none mb3 mb0-ns mr4-ns">
            <img class="br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" width="225" />
          </div>

          <div class="f5">
            <h3 class="f3 mb3">
              {{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}
            </h3>
            {% if person.pcfn_group %}
              <p class="silver">{{ person.pcfn_title }}</p>
              {% if person.affiliation == "University of Pennsylvania" %}
                <p class="silver">{{ person.affiliation }}</p>
                <p class="silver mb3">{{ person.penn_school }}</p>
              {% else %}
                <p class="silver mb3">{{ person.affiliation }}</p>
              {% endif %}
            {% elsif person.penn_faculty_group %}
              <p class="silver mb1">{{ person.affiliation }}</p>
              <p class="silver mb1">{{ person.penn_school }}</p>
            {% elsif person.other_collaborators_group %}
              <p class="silver">{{ person.affiliation }}</p>
            {% endif %}
            <p>
              {{ person.bio }}
            </p>
          </div>
        </div>

        <div class="flex justify-center items-end">
          <button class="bg-near-white shadow-6 f5 f4-ns w-100 pa3 bn br3" type="button" data-lightbox="close">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
