<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="/people/{{ person.name_slug }}.html">
    <div class="flex flex-column items-center flex-row-m">
      <div class="flex-none mb3 mr4-m mb0-m pa1 ba b--moon-gray br-100">
        <img class="db br-100" src="{{ person.photo }}" alt="{{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}" width="225" />
      </div>
      <div class="tc tl-m">
        <h3 class="tc mid-gray tracked-tight tl-m mb2">
          {{ person.first_name }} {% if person.middle_initials %}{{ person.middle_initials}} {% endif %}{{ person.last_name }}
        </h3>
        <div class="f5">
          {% if person.pcfn_group %}
            {% if person.pcfn_title_short and person.pcfn_title_short != "" %}
              <p class="silver">{{ person.pcfn_title_short }}</p>
            {% else %}
              <p class="silver">{{ person.pcfn_title }}</p>
            {% endif %}
          {% elsif person.penn_faculty_group %}
            <p class="silver mb1">{{ person.penn_school }}</p>
          {% elsif person.other_collaborators_group %}
            <p class="silver">{{ person.affiliation }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
