<div class="f5 f4-ns lh-title">
  <a class="db link dim-l" href="/people/{{ include.param.name_slug }}.html">
    <div class="flex flex-column items-center flex-row-m">
      <div class="flex-none pa1 ba br-100 b--moon-gray mb3 mr4-m mb0-m">
        {% assign jpg_src_320w = include.param.img_src_320w | replace: '.webp', '.jpg' %}
        <picture class="db">
          <source
            type="image/webp"
            srcset="{{ include.param.img_src_320w }} 320w,
                    {{ include.param.img_src_320w | replace: '--320w', '--640w' }} 640w"
            sizes="250px">
          <img
            class="db br-100"
            src="{{ jpg_src_320w }}"
            srcset="{{ jpg_src_320w }} 320w,
                    {{ jpg_src_320w | replace: '--320w', '--640w' }} 640w"
            sizes="250px"
            alt="{{ include.param.first_name }} {% if include.param.middle_initials %}{{ include.param.middle_initials}} {% endif %}{{ include.param.last_name }}">
        </picture>
      </div>
      <div class="tc tl-m">
        <h3 class="tc mid-gray tracked-tight tl-m mb2">
          {{ include.param.first_name }} {% if include.param.middle_initials %}{{ include.param.middle_initials}} {% endif %}{{ include.param.last_name }}
        </h3>
        <div class="f5">
          {% if include.param.pcfn_group %}
            {% if include.param.pcfn_title_short and include.param.pcfn_title_short != "" %}
              <p class="silver">{{ include.param.pcfn_title_short }}</p>
            {% else %}
              <p class="silver">{{ include.param.pcfn_title }}</p>
            {% endif %}
          {% elsif include.param.penn_faculty_group %}
            <p class="silver mb1">{{ include.param.penn_school }}</p>
          {% elsif include.param.other_collaborators_group %}
            <p class="silver">{{ include.param.affiliation }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
