<div class="flex flex-column items-center flex-row-l items-start-l {% unless forloop.last %}mb4 mb5-l{% endunless %}">
  <div class="flex-none pa1 ba br2 b--moon-gray mb2 mb3-m mb0-l mr5-l">
    <div class="js-carousel-container">
      {% for img in include.param.img_carousel %}
        {% assign jpg_src_320w = img.img_src_320w | replace: '.webp', '.jpg' %}
        <picture class="db">
          <source
            type="image/webp"
            srcset="{{ img.img_src_320w }} 320w,
                    {{ img.img_src_320w | replace: '--320w', '--640w' }} 640w"
            sizes="320px">
          <img
            class="db br1"
            src="{{ jpg_src_320w }}"
            srcset="{{ jpg_src_320w }} 320w,
                    {{ jpg_src_320w | replace: '--320w', '--640w' }} 640w"
            sizes="320px"
            alt="{{ img.img_alt }}">
        </picture>
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-column">
    <p class="self-center-m self-start-l order-last-l f6 f5-l light-silver mw-320px-m mb3 mb0-l">
      {{ include.param.img_attribution }}
    </p>
    <p class="f5 f4-l mb3-l">
      {{ include.param.project_description }}
    </p>
  </div>
</div>
