<div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-l">
  <div class="flex-none mw-20rem-ns pa1 ba br2 b--moon-gray mr5-l mb2 mb3-m mb0-l">
    <div class="js-carousel-container">
      {% for img in include.param.img_carousel %}
        <img class="br1" src="{{ img.img_src }}" alt="{{ img.img_alt }}" />
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-column">
    <p class="self-center-m self-start-l order-last-l f6 f5-l light-silver mw-20rem-m mb3 mb0-l">
      {{ include.param.img_attribution }}
    </p>
    <p class="f5 f4-l mb0 mb3-l">
      {{ include.param.project_description }}
    </p>
    <p>
      <!-- Dummy last-child to absorb stupid *:last-child { margin-bottom: 0 !important } -->
    </p>
  </div>
</div>
