---
layout: default
---
<main class="bg-pattern-circuit f4-ns lh-copy min-vh-100 pa3 pa4-m pv5-l ph6-l">
  <div class="mw-55rem center">
    <section class="pv3 pv4-m pv5-l">
      <div class="bg-white shadow-6 br2 bt bw3 b--bluegreen">
        <div class="pa3 pa4-ns">

          <h1 class="f4 f3-ns bluegreen mb2 mb3-ns">
            <a class="bluegreen b link dim-l mr2" href="/news.html">News</a>
            <span class="b mr2">→</span>
            <a class="bluegreen b link dim-l mr2" href="/news.html#events-announcements">Announcements</a>
          </h1>

          <hr class="w-100 ba b--bluegreen mb4">

          <div class="lh-title mb4">

            <h2 class="font-serif mb3">
              {{ page.title }}
            </h2>

            <div class="silver">
              {% if page.source %}
                <p class="dib bluegreen pv1 ph2 ba bw1 b--bluegreen br2 mb3">
                  {{ page.source }}
                </p>
              {% endif %}

              <p>
                {{ page.date_start | date: "%B %e, %Y" }}
              </p>
            </div>

          </div>

          {% if page.content != "" or page.links or page.ext_announcement_url %}
            <hr class="w-100 ba b--light-gray mb4"/>
          {% endif %}

          {% if page.content != "" %}
            <div class="mb4">
              {{ content }}
            </div>
          {% endif %}

          {% if page.links or page.ext_announcement_url %}
            <div class="mb4">
              <h3 class="font-serif mb3">
                Links
              </h3>
              <ul class="flex flex-column flex-row-ns flex-wrap-ns list pl0">
                {% if page.ext_announcement_url %}
                  <li class="flex-none mw-100 lh-title mb2{% unless forloop.last %} mr3-ns{% endunless %}">
                    <a class="link blue underline dim-l" href="{{ page.ext_announcement_url }}" target="_blank">
                      External link
                    </a>
                  </li>
                {% endif %}
                {% for link_item in page.links %}
                  <li class="flex-none mw-100 lh-title mb2{% unless forloop.last %} mr3-ns{% endunless %}">
                    <a class="link blue underline dim-l" href="{{ link_item.link_url }}" target="_blank">
                      {{ link_item.link_name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <a class="dib bluegreen link dim-l f5 f4-ns tc b w-100 pv3 ph4 ba bw1 b--blueegreen br2" href="/news.html#events-announcements">← Back to News</a>

        </div>
      </div>
    </section>
  </div>
</main>
