<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    {% if page.collection == "people" %}
      <title>PCfN → Community → {{ page.title }}</title>
      <meta name="description" content="Meet {{ page.title }}">
    {% else %}
      <title>PCfN → {{ page.title }}</title>
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/assets/css/vendor/tachyons/tachyons.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <!-- BODY -->
  <body class="m0 mid-gray">

    <!-- MAIN -->
    <main>
      {{ content }}
    </main>

    <!-- FOOTER -->
    <footer class="bg-near-white pv5 ph4 ph5-m ph6-l flex flex-column flex-row-ns items-center">
      <a class="link dim mb4 mb0-ns" href="http://www.med.upenn.edu/" target="_blank">
        <img class="o-60" src="/assets/img/logo/logo-psom.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="120" height="auto">
      </a>
      <div class="self-stretch-ns flex items-center pl4-ns bl-ns ml4-ns b--moon-gray">
        <p class="tc silver f6">Copyright 2018 Penn Center for Neuroaesthetics</p>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="/assets/js/vendor/particles.js/particles.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
