<!doctype html>
<html>
  <head>
    {% include layout/head.html %}
  </head>
  <body class="m0 mid-gray bg-navy bb">
    <header class="{{ page.header }} bg-cover bg-fixed vh-100 flex flex-column bt bw2 b--navy">
      <nav class="bg-near-white f6 f5-ns flex flex-column flex-row-ns items-center pv3-ns ph5-m ph6-l">
        <div class="flex items-center pv3 pv0-ns mr4-ns">
          <!-- <a class="link dim pr3 mr3 br bw1 b--silver dn-ns" href="http://www.upenn.edu/">
            <img src="/assets/img/logo-penn-shield-only.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="40" height="auto">
          </a> -->
          <a class="link dim mr4 dn-ns" href="http://www.med.upenn.edu/" target="_blank">
            <img src="/assets/img/logo-psom.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="142" height="auto">
          </a>
          <a class="link dim" href="/index.html">
            <object height="75" width="auto" type="image/svg+xml" data="/assets/img/logo-pcfn-black.svg" style="pointer-events: none;">PCfN</object>
          </a>
        </div>
        <div class="self-stretch flex items-center justify-center bt b--moon-gray bn-ns pv3 pv0-ns mr4-ns">
          <a class="b f6 f5-l mr4 mr3-ns link black dim" href="/about.html">About</a>
          <a class="b f6 f5-l mr4 mr3-ns link black dim" href="/community.html">Community</a>
          <a class="b f6 f5-l mr4 mr3-ns link black dim" href="/events.html">Events</a>
        </div>
        <div class="flex-auto tr dn db-ns">
          <a class="link dim" href="http://www.med.upenn.edu/" target="_blank">
            <img src="/assets/img/logo-psom.png" alt="Logo for the Perelman School of Medicine at the University of Pennsylvania" width="142" height="auto">
          </a>
        </div>
      </nav>
      <div class="flex justify-center items-center ph4 ph5-m ph6-l flex-auto">
        <h1 class="near-black bg-white-80 f3 f2-m f1-l lh-solid tc pv3 ph4">{{ page.subtitle }}</h1>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="bg-near-white pv5 pv6-l ph4 ph5-m ph6-l flex flex-column items-center justify-center">
      <p class="tc silver f6">Copyright 2018 Penn Center for Neuroaesthetics</p>
    </footer>
    <script src="/assets/js/vendor/particles.js/particles.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
