<!doctype html>
<html class="no-js bg-near-white">
  <!-- HEAD -->
  {% include partials/head.html %}
  <!-- BODY -->
  <body class="mid-gray">
    <!-- BACKGROUND -->
    {% if page.big_header and page.big_header != "" %}
      <div class="fixed force-repaint {{ page.big_header.bh_background }} bg-cover w-100 vh-100"></div>
    {% endif %}
    <!-- HEADER -->
    <div class="force-repaint relative">
      {% include partials/header.html %}
      <!-- PAGE NAV -->
      {% if page.sections and page.sections != "" %}
        {% include partials/page-nav.html %}
      {% endif %}
      <!-- MAIN -->
      {{ content }}
      <!-- FOOTER -->
      {% include partials/footer.html %}
    </div>
    <!-- SCRIPTS -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="/assets/js/all.js?{{ site.time | date: "%s" }}"></script>
  </body>
</html>
