---
layout: default
---
<header id="home-header" class="mid-gray">
  <div class="flex flex-column justify-center items-center">
    <div class="pa4 pa5-ns">
      <div class="flex flex-column justify-center items-center">
        <h1 class="f2 f1-ns lh-solid tc mb4">{{ page.title }}</h1>
        <nav>
          <a class="b link blue dim mh1" href="/index.html">Home</a></li>
          <a class="b link blue dim mh1" href="/about.html">About</a></li>
          <a class="b link blue dim mh1" href="/community.html">Community</a></li>
          <a class="b link blue dim mh1" href="/events.html">Events</a></li>
        </nav>
      </div>
    </div>
  </div>
</header>
<main>
  {{ content }}
</main>
