---
layout: default
---
<main class="bg-pattern-circuit f5 f4-ns min-vh-100 pa3 pa4-m pv5-l ph6-l">
  <div class="mw-40rem center">
    <section class="pv3 pv4-m pv5-l">
      <div class="bg-white ba b--moon-gray br2">
        <p class="bg-near-white pv3 ph4 bb b--moon-gray br2 br--top mb0">
          {% if page.pcfn_group %}
            <a class="b mr2 link underline mid-gray dim" href="/community.html#at-the-center">Community</a>
            <span class="b mr2">→</span>
            <span class="b mr2">At the center</span>
          {% elsif page.penn_faculty_group %}
            <a class="b mr2 link underline mid-gray dim" href="/community.html#penn-faculty">Community</a>
            <span class="b mr2">→</span>
            <span class="b mr2">Affiliated faculty</span>
          {% elsif page.other_collaborators_group %}
            <a class="b mr2 link underline mid-gray dim" href="/community.html#other-collaborators">Community</a>
            <span class="b mr2">→</span>
            <span class="b mr2">Other collaborators</span>
          {% endif %}
        </p>
        <div class="f5 pa3 pa4-ns">
          <div class="pt3 pb4 pv4-ns">
            <img class="db center br-100 pa1 ba bw1 b--moon-gray" src="{{ page.photo }}" alt="{{ page.first_name }} {% if page.middle_initials %}{{ page.middle_initials}} {% endif %}{{ page.last_name }}" />
          </div>
          <h2 class="tracked-tight tc mb2">
            {{ page.first_name }} {% if page.middle_initials %}{{ page.middle_initials}} {% endif %}{{ page.last_name }}
          </h2>
          <div class="mb4">
            {% if page.pcfn_group %}
              <p class="f4 tc mb2">{{ page.pcfn_title }}</p>
              {% if page.affiliation == "University of Pennsylvania" %}
                <p class="silver tc mb1">{{ page.affiliation }}</p>
                <p class="silver tc mb0">{{ page.penn_school }}</p>
              {% else %}
                <p class="silver tc mb0">{{ page.affiliation }}</p>
              {% endif %}
            {% elsif page.penn_faculty_group %}
              <p class="silver tc mb1">{{ page.affiliation }}</p>
              <p class="silver tc mb0">{{ page.penn_school }}</p>
            {% elsif page.other_collaborators_group %}
              <p class="silver tc mb0">{{ page.affiliation }}</p>
            {% endif %}
          </div>
          {% if page.bio != "" or page.links %}
            <hr class="w-100 ba b--light-gray mb4"/>
          {% endif %}
          {% if page.content != "" %}
            <div class="lh-copy mb4">
              {{ page.bio }}
            </div>
          {% endif %}
          {% if page.links %}
            <div class="lh-copy mb4">
              <h3 class="tracked-tight mb2 mb3-ns">Links</h3>
              <ul class="list pl0 mb0">
                {% for link_item in page.links %}
                  <li class="mb2 lh-title">
                    <a class="link blue underline dim" href="{{ link_item.link_url }}" target="_blank">
                      {{ link_item.link_name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if page.pcfn_group %}
            <a class="dib bg-near-white light-silver link dim f5 f4-ns tc w-100 pv3 ph4 br2 shadow-6" href="/community.html#at-the-center">Back to Community</a>
          {% elsif page.penn_faculty_group %}
            <a class="dib bg-near-white light-silver link dim f5 f4-ns tc w-100 pv3 ph4 br2 shadow-6" href="/community.html#penn-faculty">Back to Community</a>
          {% elsif page.other_collaborators_group %}
            <a class="dib bg-near-white light-silver link dim f5 f4-ns tc w-100 pv3 ph4 br2 shadow-6" href="/community.html#other-collaborators">Back to Community</a>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</main>
