---
title: Research
big_header:
  bh_title: Research and publications
  bh_css: bg-leaves
description: Check out our latest publications or peruse the PCfN research archives.
sections:
- Current projects
- Publications
projects:
- VV
- WW
- XX
- YY
- ZZ
---
<main class="f4 f3-l lh-copy">
  <div class="min-vh-100 bg-jp-light-sage pa3 pa4-ns ph6-l">
    <div class="mw-55rem center">
      <section class="pv3 pv4-ns">
        <div class="bg-white shadow-6 br2">
          <h2 class="bg-blue near-white pv4 ph3 ph4-ns lh-title b font-default tc br2 br--top mb0">Our work</h2>
          <div class="pa4 pa5-ns">
            <p>
              Neuroaesthetics research involves a wide range of topics and approaches.
            </p>
          </div>
        </div>
      </section>
      <section id="{{ page.sections[1] | slugify }}" class="pv3 pv4-ns">
        <div class="bg-white shadow-6 br1 pa4 pa5-ns">
          <h2 class="lh-title tracked-tight mb2">
            {{ page.sections[0] }}
          </h2>
          <hr class="w-100 ba b--moon-gray mb3 mb4-ns">
          <p class="">
            Currently, our researchers are exploring WW, XX, YY, and ZZ.
          </p>
          <h3 class="mb4">
            Beauty and morality
          </h3>
          <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
            <div class="flex-none bg-near-white br1 mr5-l mb4 mb0-l">
              <div class="js-carousel-container hw-d">
                <img class="transition-opacity br1" src="/assets/img/projects/faces/original.jpg" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/faces/scar.jpg" alt="" height="400" width="auto">
              </div>
            </div>
            <div class="f5 f4-ns">
              <h4 class="mb4">XX</h4>
              <p>
                Do judgments of beauty influence moral behavior? Although it seems obvious that beauty and morality should be independent, recent studies from our lab show that people with facial anomalies, like scars or paralysis, are seen as having worse social traits, including morally-relevant characteristics like untrustworthiness.
              </p>
            </div>
          </div>
          <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
            <div class="flex-none bg-near-white br1 mr5-l mb4 mb0-l">
              <div class="js-carousel-container hw-b">
                <img class="transition-opacity br1" src="/assets/img/projects/bodies/painted.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/bodies/original.png" alt="" height="400" width="auto">
              </div>
            </div>
            <div class="f5 f4-ns">
              <h4 class="mb4">XX</h4>
              <p>
                This study investigates how physical appearance, specifically weight, may influence the way in which someone’s character is perceived. Considering these potential biases, the study further explores how the perception of a painted body may compare to that of a photographed body
              </p>
            </div>
          </div>
          <h3>
            The built environment and wellness
          </h3>
          <h3>
            Engagement with art
          </h3>
          <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
            <div class="flex-none bg-near-white br1 mr5-l mb4 mb0-l">
              <div class="js-carousel-container hw-a">
                <img class="transition-opacity br1" src="/assets/img/projects/gradients/gradients-strength.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/gradients/gradients-orientation.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/gradients/original.png" alt="" height="400" width="auto">
              </div>
            </div>
            <div class="f5 f4-ns">
              <h4 class="mb4">XX</h4>
              <p>
                In psychophysics, the relation between physical stimuli and mental phenomena is investigated. To do this properly, it is necessary to acquire objective measures of stimuli (e.g., images of portrait paintings) before showing them to observers. One approach is to create color-coded images for the orientation and strength of the edges in the image. From these images, measures for homogeneity (based on edge orientations) and complexity (based on edge strengths) for the original portrait painting are calculated.
              </p>
            </div>
          </div>
          <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
            <div class="flex-none bg-near-white br1 mr5-l mb4 mb0-l">
              <div class="js-carousel-container hw-c">
                <img class="transition-opacity br1" src="/assets/img/projects/networks/networks1.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/networks/networks2.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/networks/networks3.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/networks/networks4.png" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/networks/networks5.png" alt="" height="400" width="auto">
              </div>
            </div>
            <div class="f5 f4-ns">
              <h4 class="mb4">XX</h4>
              <p>
                Abstract art paintings are highly heterogenous. Since artists often create paintings that had never been seen before and, furthermore, are not restricted by content, these paintings differ in size, form and color in every thinkable way. A relatively new method to bring order to this chaos is network analysis. With the help of networks, it is possible to cluster images with similar objective properties or objects that have been described with similar words.
              </p>
            </div>
          </div>
          <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
            <div class="flex-none bg-near-white br1 mr5-l mb4 mb0-l">
              <div class="js-carousel-container hw-e">
                <img class="transition-opacity br1" src="/assets/img/projects/motion/mondrian.jpg" alt="" height="400" width="auto">
                <img class="transition-opacity br1" src="/assets/img/projects/motion/pollock.jpg" alt="" height="400" width="auto">
              </div>
            </div>
            <div class="f5 f4-ns">
              <h4 class="mb4">XX</h4>
              <p>
                Jackson Pollock, a key figure in the abstract expressionist movement, famously created his paintings through action, by literally dripping and pouring paint onto the canvas. This particular style of gestural abstraction was dynamic and vigorous, and emphasised the physical act of painting in itself as essential to the finished piece. We are interested in how this “movement” in abstract art is processed by viewers, and how this affects their aesthetic appreciation of the work. Stacey Humphries, a postdoc in the lab, is currently examining whether the aesthetic appreciation of action paintings changes in Parkinson’s disease patients who may have more difficulty cognitively representing action and movement. Stacey is also using fMRI to determine which brain regions are involved when healthy adults view “dynamic” vs. “static” artworks.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Image statistics -->
      <section id="{{ page.projects[0] | slugify }}" class="pv3 pv4-ns">
        <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
          <div class="flex-none bg-near-white shadow-6 br1 pa3 mb3 mb0-l mr4-l">
            <div class="js-carousel-container hw-a">
              <img class="transition-opacity br1" src="/assets/img/projects/gradients/gradients-strength.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/gradients/gradients-orientation.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/gradients/original.png" alt="" height="400" width="auto">
            </div>
          </div>
          <div class="flex flex-column items-center items-start-l">
            <div class="measure bg-near-white shadow-6 br1 pa4">
              <h3>
                {{ page.projects[0] }}
              </h3>
              <p class="f5 f4-ns">
                In psychophysics, the relation between physical stimuli and mental phenomena is investigated. To do this properly, it is necessary to acquire objective measures of stimuli (e.g., images of portrait paintings) before showing them to observers. One approach is to create color-coded images for the orientation and strength of the edges in the image. From these images, measures for homogeneity (based on edge orientations) and complexity (based on edge strengths) for the original portrait painting are calculated.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Body paintings -->
      <section id="{{ page.projects[1] | slugify }}" class="pv3 pv4-ns">
        <div class="flex flex-column items-center flex-row-reverse-l items-start-l mb4 mb5-ns">
          <div class="flex-none bg-near-white shadow-6 br1 pa3 mb3 mb0-l ml4-l">
            <div class="js-carousel-container hw-b">
              <img class="transition-opacity br1" src="/assets/img/projects/bodies/painted.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/bodies/original.png" alt="" height="400" width="auto">
            </div>
          </div>
          <div class="flex flex-column items-center items-end-l">
            <div class="measure bg-near-white shadow-6 br1 pa4 tr-l">
              <h3>
                {{ page.projects[1] }}
              </h3>
              <p class="f5 f4-ns">
                This study investigates how physical appearance, specifically weight, may influence the way in which someone’s character is perceived. Considering these potential biases, the study further explores how the perception of a painted body may compare to that of a photographed body
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Networks -->
      <section id="{{ page.projects[2] | slugify }}" class="pv3 pv4-ns">
        <div class="flex flex-column items-center flex-row-l items-start-l mb4 mb5-ns">
          <div class="flex-none bg-near-white shadow-6 br1 pa3 mb3 mb0-l mr4-l">
            <div class="js-carousel-container hw-c">
              <img class="transition-opacity br1" src="/assets/img/projects/networks/networks1.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/networks/networks2.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/networks/networks3.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/networks/networks4.png" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/networks/networks5.png" alt="" height="400" width="auto">
            </div>
          </div>
          <div class="flex flex-column items-center items-start-l">
            <div class="measure bg-near-white shadow-6 br1 pa4">
              <h3>
                {{ page.projects[2] }}
              </h3>
              <p class="f5 f4-ns">
                Abstract art paintings are highly heterogenous. Since artists often create paintings that had never been seen before and, furthermore, are not restricted by content, these paintings differ in size, form and color in every thinkable way. A relatively new method to bring order to this chaos is network analysis. With the help of networks, it is possible to cluster images with similar objective properties or objects that have been described with similar words.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Facial disfigurement -->
      <section id="{{ page.projects[3] | slugify }}" class="pv3 pv4-ns">
        <div class="flex flex-column items-center flex-row-reverse-l items-start-l">
          <div class="flex-none bg-near-white shadow-6 br1 pa3 mb3 mb0-l ml4-l">
            <div class="js-carousel-container hw-d">
              <img class="transition-opacity br1" src="/assets/img/projects/faces/original.jpg" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/faces/scar.jpg" alt="" height="400" width="auto">
            </div>
          </div>
          <div class="flex flex-column items-center items-end-l">
            <div class="measure bg-near-white shadow-6 br1 pa4 tr-l">
              <h3>
                {{ page.projects[3] }}
              </h3>
              <p class="f5 f4-ns">
                Do judgments of beauty influence moral behavior? Although it seems obvious that beauty and morality should be independent, recent studies from our lab show that people with facial anomalies, like scars or paralysis, are seen as having worse social traits, including morally-relevant characteristics like untrustworthiness.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Pollock / Mondrian -->
      <section id="{{ page.projects[4] | slugify }}" class="pv3 pv4-ns">
        <div class="flex flex-column items-center flex-row-l items-start-l">
          <div class="flex-none bg-near-white shadow-6 br1 pa3 mb3 mb0-l mr4-l">
            <div class="js-carousel-container hw-e">
              <img class="transition-opacity br1" src="/assets/img/projects/motion/mondrian.jpg" alt="" height="400" width="auto">
              <img class="transition-opacity br1" src="/assets/img/projects/motion/pollock.jpg" alt="" height="400" width="auto">
            </div>
          </div>
          <div class="flex flex-column items-center items-end-l">
            <div class="measure bg-near-white shadow-6 br1 pa4">
              <h3>
                {{ page.projects[4] }}
              </h3>
              <p class="f5 f4-ns">
                Jackson Pollock, a key figure in the abstract expressionist movement, famously created his paintings through action, by literally dripping and pouring paint onto the canvas. This particular style of gestural abstraction was dynamic and vigorous, and emphasised the physical act of painting in itself as essential to the finished piece. We are interested in how this “movement” in abstract art is processed by viewers, and how this affects their aesthetic appreciation of the work. Stacey Humphries, a postdoc in the lab, is currently examining whether the aesthetic appreciation of action paintings changes in Parkinson’s disease patients who may have more difficulty cognitively representing action and movement. Stacey is also using fMRI to determine which brain regions are involved when healthy adults view “dynamic” vs. “static” artworks.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="{{ page.sections[1] | slugify }}" class="pv3 pv4-ns">
        <div class="js-vt-container bg-white shadow-6 br1 pa4 pa5-ns">
          <h2 class="lh-title tracked-tight mb2">
            {{ page.sections[1] }}
          </h2>
          <hr class="w-100 ba b--moon-gray mb3 mb4-ns">
          <div class="js-vt-viewer" data-vt-viewer-type="show-more" data-vt-show-more-init-visible="5" data-vt-show-more-max="10" data-vt-show-more-responsive="false">
            {% assign pubs_sorted = site.data.external.publications | sort: "work_post_date_fake" | reverse %}
            {% for publication in pubs_sorted %}
              {% if publication.category == "neuroaesthetics" %}
                {% include publication-item.html %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="js-vt-button t3 pt4-ns">
            <button class="f5 f4-ns w-100 bg-jp-sage white b dim-ns pv3 ph5-ns bn br3 pointer">
              <span class="mr2">
                Show more
              </span>
              {% octicon chevron-down height:16 class:"v-top fill-white" %}
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
